.navbar {
  background-color: #1c1c1c;
  color: #fff;
}
.navbar,
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
gap:40px
}

.navbar h1 {
    cursor: pointer;
  padding: 0 8px;
}

.navbar ul li {
  padding: 10px 40px;
  list-style: none;
}

.navbar ul li a {
    color: #fff;
}
.user a{
  display: flex;
  padding: 0 25px;
}
.user a p{
padding-left: 30px;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.detail p {
  padding-left: 20px;
}